

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}


/* IMMAGINE DI SFONDO */
.sfondo{
    background-image: url(https://profilo-aldo.s3.eu-central-1.amazonaws.com/immagini+profilo+aldo/aldo-studiando2.jpeg) ;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

@media screen and (min-width: 800px) and (max-width : 1100px) {
  .sfondo{
      background-image: url(https://profilo-aldo.s3.eu-central-1.amazonaws.com/immagini+profilo+aldo/aldo-studiando-tablet.JPG);
  }
}

@media screen and (max-width: 800px) {
    .sfondo{
        background-image: url(https://profilo-aldo.s3.eu-central-1.amazonaws.com/immagini+profilo+aldo/aldo-studiandi-mobil.JPG);
    }
  }

/* NOME E OBBIETTIVO */
header{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    border-bottom: 2px solid white 
}

header div{
    margin:auto;
}

.titolo{
    width: 90%;
}
.nome{
width: 70%;
margin: 20px auto;
color: white;
border: 2px solid white;
border-radius: 10px;
padding: 2px 5px;
text-align: center;

}

.obbiettivo{
    width: 100%;
    color: white;
    padding: 2px 0px;
    text-align: center;
}


/* PRESENTAZIONE */

.presentazione{
    width: 30%;
    margin: 20px auto;
    background-color: rgba(3, 3, 3, 0.144);
    border-radius: 10px;
}

.presentazione div{    
    text-align: center;
    padding: 5px 10px;
    line-height: 1.8;
    color: white;

}

.face{
    width: 200px;
    margin: 40px auto;

}
.foto{
    width: 100%;
    border-top-left-radius: 47%;
    border-top-right-radius: 47%;
    border-bottom-left-radius: 47%;
    border-bottom-right-radius: 47%;

}


    .presentazione{
        width: 60%;
    }
    .presentazione div{
        line-height: 1.1;
    }
    .face{
        margin: 20px auto;
    }
  


  /* SOCIAL */

  .social{
     position: fixed;
     left: 3%;
     bottom: 40%;
      display: flex;
      flex-direction: column;
  }

  .github{
    background-color: white;
      border-radius: 4px;
      margin-bottom: 5px;
      width: 30px;
      height: 30px;
  }

  .facebook{
      background-color: white;
      border-radius: 4px;
      margin-bottom: 5px;
      width: 30px;
      height: 30px;
  }

  .linkedin{
      background-color: white;
      border-radius: 4px;
      margin-bottom: 5px;
      width: 30px;
      height: 30px;
  }


  /* STORY */


  .story{
display: flex;
flex-direction: column;
width: 90%;
text-align: center;
margin: 40px auto;
color: white;
border-top: 2px white solid;
border-radius: 10px;

  }

  .racconto{
      margin: 0 auto;
      background-color: rgba(3, 3, 3, 0.144);
    border-radius: 10px;

  }

  .parole{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .parole p{
      color: rgb(204, 18, 18);
      background-color: rgba(61, 58, 58, 0.459);
    border-radius: 10px;
    padding: 4px 40px;
      
  }

  .sottolineato{
      text-decoration: underline;
  }

  @media screen and (max-width: 648px) {

    .parole{
        flex-direction: column;
    }
  }


  /* ABOUT ME */


  .aboutme{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 40px auto;
    color: white;
    border-top: 2px white solid;
    border-radius: 10px;

  }


  .gridcontainer{
      width: 90%;
    margin: 0 auto;
    background-color: rgba(3, 3, 3, 0.144);
    border-radius: 10px;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: auto auto auto;
    padding: 10px 10px;
    
  }

  .gridcontainer div{
    color: white;
    border-radius: 10px;
    padding: 50px 40px;
    background-color: rgba(61, 58, 58, 0.459);
    transition: all 0.8s;
   
  }

  .griditem:hover {
    color: rgb(204, 18, 18);
    background-color: rgba(216, 210, 210, 0.459);
  }
  .griditem1:hover {
    color: rgb(204, 18, 18);
    background-color: rgba(216, 210, 210, 0.459);
  }
  .griditem2:hover {
    color: rgb(204, 18, 18);
    background-color: rgba(216, 210, 210, 0.459);
  }
  .griditem3:hover {
    color: rgb(204, 18, 18);
    background-color: rgba(216, 210, 210, 0.459);
  }
  .griditem4:hover {
    color: rgb(204, 18, 18);
    background-color: rgba(216, 210, 210, 0.459);
  }
  .griditem5:hover {
    color: rgb(204, 18, 18);
    background-color: rgba(216, 210, 210, 0.459);
  }

/* MODAL */
  .modal{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    color: white;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 4;
  }

  .modal1{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    color: white;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 4;
  }

  .modal2{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    color: white;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 4;
  }

  .modal3{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    color: white;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 4;
  }

  .modal4{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    color: white;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 4;
  }

  .modal5{
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0%;
    top: 0%;
    color: white;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: 4;
  }
  .grid-modal{
    width: 100%;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: auto auto auto;
    justify-items: center;
    
  }

  .grid-modal img{
    border-radius: 10px;
  }
   
  .close{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
  }

  .close1{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
  }
  .close2{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
  }

  .close3{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
  }

  .close4{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
  }

  .close5{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
  }

  .close:hover{
    background-color: rgb(71, 233, 31);
  }

  .close1:hover{
    background-color: rgb(71, 233, 31);
  }

  .close2:hover{
    background-color: rgb(71, 233, 31);
  }
  .close3:hover{
    background-color: rgb(71, 233, 31);
  }

  .close4:hover{
    background-color: rgb(71, 233, 31);
  }
  .close5:hover{
    background-color: rgb(71, 233, 31);
  }


  @media screen and (max-width: 648px) {

    .gridcontainer{
        display: flex;
        flex-direction: column;
    }

    .grid-modal{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

  }


  /* LAVORI*/

  .lavori{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 40px auto;
    color: white;
    border-top: 2px white solid;
    border-radius: 10px;
  }


  .e-commerce{

    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 30px auto;
    transition: width 0.5s ease, height 0.5s ease;

  }

  .e-commerce:hover{
    width: 315px;
    height: 315px;
  }


  .lavori a{
    color: white;
    width: auto;
    padding: 0 3px;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
  }

  .lavori a:visited{
    color: white;
    
  }

  @media screen and (max-width: 648px) {
    .e-commerce{
      width: 250px;
      height: 250px;
    }
  }

  /* SKILLS */

  .skills{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 40px auto;
    color: white;
    border-top: 2px white solid;
    border-radius: 10px;
  }

  .grid-skills{
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: auto auto auto;
  }

  @media screen and (max-width: 648px) {
    .grid-skills{
      display: flex;
      flex-direction: column;
    }
  }


  /* CONTACT */

  .contact{
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
    margin: 40px auto;
    color: white;
    border-top: 2px white solid;
    border-radius: 10px;
  }

  .form{
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(61, 58, 58, 0.459);
    
    border-radius: 10px;
    padding: 20px 20px;
    margin: 0 auto;
  }

  .intform{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    
  }

  .intform input,textarea{
    color: white;
    margin-bottom: 10px;
    background-color: rgba(202, 197, 197, 0.363);
    outline: none;
    border: none;
    padding: 5px 3px;
    border-radius: 10px;
  }

  .submit{
    width: 30%;
    border: 1px solid white !important;
    
  }

  .submit:hover{
    background-color: white !important;
    color: black !important;
  }


  @media screen and (max-width: 648px) {

    .intform{
      width: 95%;
    }
  }

  /* START */

  .gotoup{
    position: fixed;
    left: 3%;
    bottom: 2%;
    width: 40px;
    color: red;
    transition: width 0.5s ease;
  }

  .gotoup:hover{
    width: 50px;
  }